*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.ttf');
}

header{
    margin-bottom: 75px;
}

body{
    background-color: rgba(243, 245, 252, 1);
    padding: 40px;
    height: 100vh;

    display: grid;
    grid-template-columns: 4fr 1fr;
}

form{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form span label{
    display: block;
    font-size: 12px;
    color: rgba(73, 80, 87, 1);
    margin-bottom: 10px;
}

form span label img{
    vertical-align: sub;
    width: 16px;
    margin-right: 5px;
}

textarea{
    width: 680px;
    height: 80%;
    background: none;
    border: none;
    resize: none;
    caret-color: transparent;
    font-size: 32px;
    color: rgba(10, 56, 113, 1);
}

textarea:focus-visible{
    outline: none;
}

textarea::placeholder{
    font-size: 32px;
    color: rgba(10, 56, 113, 1);
}

#criptografar{
    width: 328px;
    height: 67px;
    margin-right: 16px;
    color: rgba(255, 255, 255, 1);
    background: rgba(10, 56, 113, 1);
    border: none;
    border-radius: 24px;
}

#descriptografar{
    width: 328px;
    height: 67px;
    color: rgba(10, 56, 113, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
}

#copiar{
    width: 328px;
    height: 67px;
    color: rgba(10, 56, 113, 1);
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
    display: none;
}

/*Saida*/

div.saida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background: rgba(255, 255, 255, 1);
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

div.saida div.aviso h3{
    font-size: 24px;
    margin: 10px;
}

div.saida div.aviso p{
    font-size: 16px;
    font-weight: 400;
}

.saida p{
    font-size: 24px;
    color: rgba(73, 80, 87, 1);
    overflow-wrap: anywhere;
}
